.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

[id$="InputLevel"] {
    /*#healthInputLevel */
    font-size: larger;
    font-family: Funhouse;
    margin-left: 2%;
    margin-bot: 2%;
}

.container-monsters {
    max-width: 1400px;
    margin: auto;
}

.monster-parent {
    position: relative;
    top: 0;
    left: 0;
    min-height: 250px;
    background-color: white;
    border-radius: 15px;
}

.monster-child {
    position: absolute;
    top: 0%;
    left: 10%;
    width: 100%;
}

.fire-border {
    border-style: solid;
    border-width: 15px;
    border-image: linear-gradient(180deg, rgb(224, 104, 28), rgb(176, 4, 4)) 1;
}

.water-border {
    border-style: solid;
    border-width: 15px;
    border-image: linear-gradient(180deg, rgb(62, 149, 185), rgb(34, 60, 94)) 1;
}

.monster-info-scroll {
    overflow: scroll;
}

.actions-btn {
    font-family: Funhouse;
    background-color: rgb(1, 92, 166);
    border-radius: 10px;
    border-color: rgb(1, 92, 166);
    border-width: medium;
    color: #ffffff;
    margin: 0% 5% 5% 5%;
}

.actions-btn:hover {
    font-family: Funhouse;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: rgb(1, 92, 166);
    border-width: medium;
    color: rgb(1, 92, 166);
}

.cancel-actions-btn {
    font-family: Funhouse;
    background-color: rgb(166, 1, 1);
    border-radius: 10px;
    border-color: rgb(166, 1, 1);
    border-width: medium;
    color: #ffffff;
    margin: 0% 5% 5% 5%;
}

.cancel-actions-btn:hover {
    font-family: Funhouse;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: rgb(166, 1, 1);
    border-width: medium;
    color: rgb(166, 1, 1);
}

.monster-slider {
    text-align: center;
    background-color: #c2ae79;
    min-height: 28%;
    border-radius: 10px;
    margin: 7% auto;
}

.monster-slider h2 {
    font-size: x-large;
    color: #000;
}

.animated-progress {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    box-shadow: 3px 3px 3px #333333;
}

.animated-progress span {
    height: 100%;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
}

.progress-green span {
    background-color: #2fc217;
    border-radius: 10px;
}

.progress-yellow span {
    background-color: #f9d000;
    border-radius: 10px;
}

.progress-orange span {
    background-color: #ff4d00;
    border-radius: 10px;
}

.progress-red span {
    background-color: #e00000;
    border-radius: 10px;
}

.progress-red ,
.progress-orange ,
.progress-yellow,
.progress-green {
    -webkit-transition: color 3s ease, background-color 3s ease;
    -moz-transition: color 3s ease, background-color 3s ease;
    -o-transition: color 3s ease, background-color 3s ease;
    transition: color 3s ease, background-color 3s ease;
}

.monster-card {
    border-radius: 15px;
    width: 98%;
    /*height: 555px;*/
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff5420;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e73e0a;
}

.monster-card img {
    height: 100%;
    width: auto;
}

.monster-card .animated-progress:hover {
    transition-timing-function: ease-in;
    transition: 0.2s;
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    z-index: 999;
}

.monster-card .reveal-stats {
    font-family: Funhouse;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
}

.monster-card:hover .reveal-stats {
    height: auto;
    visibility: visible;
    opacity: 10;
    transition: opacity .5s ease;
}

.hiddenFace {
    visibility: hidden;
    display: none;
}

.feed-card .card-body {
    min-height: 300px;
    min-width: 300px;
    margin-right: 5px;
}

.monster-stats p {
    font-family: Funhouse;
    color: white;
    text-align: left;
}

.monster-card-btn {
    font-family: Funhouse;
    font-size: xx-large;
    margin: 4px 0 0 0;
    border-width: medium;
    border-radius: 10px;
    height: 30%;
}

.card-sell-btn {
    background-color: rgb(1, 166, 4);
    border-color: rgb(1, 166, 4);
    color: #ffffff;
}

.card-sell-btn:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(1, 166, 4);
    color: rgb(1, 166, 4);
}

.card-feed-btn {
    background-color: rgb(222, 128, 19);
    border-color: rgb(222, 128, 19);
    color: #ffffff;
}

.card-feed-btn:hover {
    background-color: white;
    border-color: rgb(222, 128, 19);
    color: rgb(222, 128, 19);
}

.card-breed-btn {
    background-color: rgb(176, 0, 106);
    border-color: rgb(176, 0, 106);
    color: #ffffff;
}

.card-breed-btn:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(176, 0, 106);
    color: rgb(176, 0, 106);
}

.card-breed-btn:disabled {
    background-color: rgb(105, 105, 105);
    border-color: rgb(136, 43, 100);
    color: rgb(136, 43, 100);
}

.large-breed-btn {
    border-width: medium;
    border-radius: 20px;
    font-family: Funhouse;
    font-size: xxx-large;
    color: white;
    text-align: center;
    background-image: linear-gradient(to right, #af1f1f, #e72b2b);
    border-color: rgba(105, 0, 0, 0);
    height: 100px;
    margin-top: 10%;
}

.large-breed-btn:hover {
    background-color: white;
    background-image: linear-gradient(to right, #ffffff, #ffffff);
    border-color: rgb(183, 13, 13);
    color: rgb(190, 10, 10);
}
