/* ------------- elements as class names for dynamic card background --------------- */

/*fire - done*/
/*water - done*/
/*air - done*/
/*earth - done*/
/*ice - done*/
/*lava - done*/
/*lightning - done*/
/*celstial - done*/
/*dark - done*/
/*gem - done*/

/* ________________________ */

.air {
    background-image: linear-gradient(#70c5df, rgb(124, 50, 73));
    border-radius: 24px;
    margin: 5%;
}

.air-ombre-btn {
    background-image: linear-gradient(to right, #70c5df, rgb(124, 50, 73));
    border-radius: 24px;
    margin: 5%;
    border-color: rgb(124, 50, 73);
    border-width: 0px;
}

.air-ombre-btn h1 {
    color: white;
}

/* ________________________ */

.earth {
    background-image: linear-gradient(#616161, rgb(133, 75, 27));
    border-radius: 24px;
    margin: 5%;
}

.earth-ombre-btn {
    background-image: linear-gradient(to right, #616161, rgb(133, 75, 27));
    border-radius: 24px;
    margin: 5%;
    border-color: rgb(133, 75, 27);
    border-width: 0px;
}

.earth-ombre-btn h1 {
    color: white;
}

/* ________________________ */

.ice {
    background-image: linear-gradient(#01e3f3, rgb(2, 54, 114));
    border-radius: 24px;
    margin: 5%;
}

.ice-ombre-btn {
    background-image: linear-gradient(to right, #01e3f3, rgb(2, 54, 114));
    border-radius: 24px;
    margin: 5%;
    border-color: rgb(2, 54, 114);
    border-width: 0px;
}

.ice-ombre-btn h1 {
    color: white;
}

/* ________________________ */

.lava {
    background-image: linear-gradient(#363636, rgb(230, 73, 0));
    border-radius: 24px;
    margin: 5%;
}

.lava-ombre-btn {
    background-image: linear-gradient(to right, #363636, rgb(230, 73, 0));
    border-radius: 24px;
    margin: 5%;
    border-color: rgb(208, 64, 9);
    border-width: 0px;
}

.lava-ombre-btn h1 {
    color: white;
}

/* ________________________ */

.dark {
    background-image: linear-gradient(#363636, rgb(170, 170, 170));
    border-radius: 24px;
    margin: 5%;
}

.dark-ombre-btn {
    background-image: linear-gradient(to right, #363636, rgb(170, 170, 170));
    border-radius: 24px;
    margin: 5%;
    border-color: rgb(170, 170, 170);
    border-width: 0px;
}

.dark-ombre-btn h1 {
    color: white;
}

/* ________________________ */

.gem {
    background-image: linear-gradient(#1be3fd, rgb(18, 212, 0));
    border-radius: 24px;
    margin: 5%;
}

.gem-ombre-btn {
    background-image: linear-gradient(to right, #1be3fd, rgb(18, 212, 0));
    border-radius: 24px;
    margin: 5%;
    border-color: rgb(18, 212, 0);
    border-width: 0px;
}

.gem-ombre-btn h1 {
    color: white;
}

/* ________________________ */


.fire {
    background-image: linear-gradient(#fcaa2f, rgb(208, 64, 9));
    border-radius: 24px;
    margin: 5%;
}

.fire-ombre-btn {
    background-image: linear-gradient(to right, #fcaa2f, rgb(208, 64, 9));
    border-radius: 24px;
    margin: 5%;
    border-color: rgb(208, 64, 9);
    border-width: 0px;
}

.fire-ombre-btn h1 {
    color: white;
}

/* ________________________ */

.celestial {
    background-image: linear-gradient(#b20c66, rgb(5, 88, 152));
    border-radius: 24px;
    margin: 5%;
}

.celestial-ombre-btn {
    background-image: linear-gradient(to right, #b20c66, rgb(5, 88, 152));
    border-radius: 24px;
    margin: 5%;
    border-color: rgb(5, 88, 152);
    border-width: 0px;
}

.celestial-ombre-btn h1 {
    color: white;
}

/* ________________________ */
/* change this cause there's no star */
.star {
    background-image: linear-gradient(#d62ffc, rgb(8, 78, 134));
    border-radius: 24px;
    margin: 5%;
}

.star-ombre-btn {
    background-image: linear-gradient(to right, #d62ffc, rgb(8, 78, 134));
    border-radius: 24px;
    margin: 5%;
    border-color: rgb(8, 78, 134);
    border-width: 0px;
}

.star-ombre-btn h1 {
    color: white;
}

/* ________________________ */
.water {
    background-image: linear-gradient(rgb(91, 198, 255), #085fc4);
    border-radius: 24px;
    margin: 5%;
}

.water-ombre-btn {
    background-image: linear-gradient(to right, rgb(91, 198, 255), #085fc4);
    border-radius: 24px;
    margin: 5%;
    border-color: #085fc4;
    border-width: 0px;
}

.water-ombre-btn h1 {
    color: white;
}

/* ________________________ */
.lightning {
    background-image: linear-gradient(rgb(36, 152, 215), #c2aa00);
    border-radius: 24px;
    margin: 5%;
}

.lightning-ombre-btn {
    background-image: linear-gradient(to right, rgb(36, 152, 215), #c2aa00);
    border-radius: 24px;
    margin: 5%;
    border-color: #c2aa00;
    border-width: 0px;
}

.lightning-ombre-btn h1 {
    color: white;
}


/* ------------- stat types as class names for dynamic card background --------------- */

.health, .current_health {
    background-color: rgb(189, 0, 0);
    border-radius: 10%;
    margin: 5%;
}

.health-ombre-btn, .current_health-ombre-btn {
    background-color: rgb(189, 0, 0);
    border-radius: 24px;
    margin: 5%;
    border-color: rgb(189, 0, 0);
    border-width: 0px;
}

.health-ombre-btn h1 {
    color: white;
}

/* ________________________ */
.magic {
    background-color: #00bdb7;
    border-radius: 10%;
    margin: 5%;
}

.magic-ombre-btn {
    background-color: #00bdb7;
    border-radius: 24px;
    margin: 5%;
    border-color: #00bdb7;
    border-width: 0px;
}

.magic-ombre-btn h1 {
    color: white;
}

/* ________________________ */
.defense {
    background-color: #277708;
    border-radius: 10%;
    margin: 5%;
}

.defense-ombre-btn {
    background-color: #277708;
    border-radius: 24px;
    margin: 5%;
    border-color: #277708;
    border-width: 0px;
}

.defense-ombre-btn h1 {
    color: white;
}

/* ________________________ */
.strength {
    background-color: #3167f1;
    border-radius: 10%;
    margin: 5%;
}

.strength-ombre-btn {
    background-color: #3167f1;
    border-radius: 24px;
    margin: 5%;
    border-color: #3167f1;
    border-width: 0px;
}

.strength-ombre-btn h1 {
    color: white;
}

/* ________________________ */
.mojo {
    background-color: #c71394;
    border-radius: 10%;
    margin: 5%;
}

.mojo-ombre-btn {
    background-color: #c71394;
    border-radius: 24px;
    margin: 5%;
    border-color: #c71394;
    border-width: 0px;
}

.mojo-ombre-btn h1 {
    color: white;
}

/* ________________________ */
.stamina, .current_stamina {
    background-color: #c7af13;
    border-radius: 10%;
    margin: 5%;
}

.stamina-ombre-btn, .current_stamina-ombre-btn {
    background-color: #c7af13;
    border-radius: 24px;
    margin: 5%;
    border-color: #c7af13;
    border-width: 0px;
}

.stamina-ombre-btn h1 {
    color: white;
}

/* ________________________ */
.statChance {
    background-color: #1337c7;
    border-radius: 10%;
    margin: 5%;
}

.statChance-ombre-btn {
    background-color: #1337c7;
    border-radius: 24px;
    margin: 5%;
    border-color: #1337c7;
    border-width: 0px;
}

.statChance-ombre-btn h1 {
    color: white;
}

/* ________________________ */
.hunger {
    background-color: #dea106;
    border-radius: 10%;
    margin: 5%;
}

.hunger-ombre-btn {
    background-color: #dea106;
    border-radius: 24px;
    margin: 5%;
    border-color: #dea106;
    border-width: 0px;
}

.hunger-ombre-btn h1 {
    color: white;
}


.banner-ombre {
    background-image: linear-gradient(to right, #b20c66, rgb(5, 88, 152));
    width: 100%;
}

.cupid-border {
    cursor: pointer;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    border-color: #de0638;
    border-width: 10px;
    scale: 0.9;
}

.cupid-border:hover {
    scale: 1;
}


.cupid-heart {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 48px;
    opacity: 0;
    transition: all .5s ease-in-out;
    font-size: xxx-large;
    color: rgba(255, 50, 112, 0.5);
}

.cupid-heart:hover {
    opacity: 1;
    transform: scale(6);
}

.hatch-btn, .hatch-btn:visited {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hatch-btn:hover {
    color: rgb(222, 128, 19);
}

.breed-main {
    border-radius: 15px;
    width: 98%;
    min-height: 600px;
    background-color: white;
}

.breed-parent {
    position: relative;
    top: 0;
    left: 0;
    min-height: 300px;
    border-radius: 15px;
    border: 20px #0a3c60;
}

.breed-child {
    position: absolute;
    top: 0%;
    left: 0;
    height: 250px;
    width: auto;
}

.breed-blue {
    background-color: white;
    border: 10px solid #0965B8;
    border-radius: 10%;
    min-height: 325px;
}


.breed-pink {
    background-color: white;
    border: 10px solid #BE1957;
    border-radius: 10%;
    min-height: 325px;
}

/* ----------------------------------------  breed progress bars -------------- */
.blue-progress-breed {
    width: 50%;
    margin-left: auto;
    height: 30px;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to left, rgba(89, 14, 159, 0.8), rgba(9, 101, 184, 0.8));
}
.pink-progress-breed {
    width: 50%;
    margin-right: auto;
    height: 30px;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to right, rgba(190, 25, 87, 0.8), rgba(89, 14, 159, 0.8));
    /*box-shadow: 3px 3px 3px #333333;*/
    transform: rotate(180deg);
}

.pink-progress-breed span,
.blue-progress-breed span {
    height: 100%;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
}

.pink-breed-breed span {
    background-color: #BE1957;
    border-radius: 10px;
    text-align: left;
    transform: rotate(-180deg);
}

.blue-breed-breed span {
    background-color: #0057f9;
    border-radius: 10px;
}


.pink-breed-breed ,
.blue-breed-breed {
    -webkit-transition: color 3s ease, background-color 3s ease;
    -moz-transition: color 3s ease, background-color 3s ease;
    -o-transition: color 3s ease, background-color 3s ease;
    transition: color 3s ease, background-color 3s ease;
}

.blue-breed-gradient {
    position: absolute;
    top: 50%;
    padding: 0;
}


.pink-breed-gradient {
    position: absolute;
    top: 50%;
    padding: 0;
}


/* ---------------------------------------- end breed progress bars -------------- */
