/* ------------- elements as class names for dynamic card background --------------- */

/*fire - done*/
/*water - done*/
/*air - done*/
/*earth - done*/
/*ice - done*/
/*lava - done*/
/*lightning - done*/
/*celstial - done*/
/*dark - done*/
/*gem - done*/



/* ________________________ */

.air {
    background-image: linear-gradient(#70a9df, rgb(167, 248, 244));
    border-radius: 10%;
    margin: 5%;
}

.air-ombre-btn {
    background-image: linear-gradient(to right, #70a9df, rgb(167, 248, 244));
    border-radius: 24px;
    margin: 5%;
    border-color: rgb(208, 64, 9);
    border-width: 0px;
}
.air-ombre-btn h1 {
    color: white;
}

/* ________________________ */

.earth {
    background-image: linear-gradient(#616161, rgb(99, 68, 42));
    border-radius: 10%;
    margin: 5%;
}

.earth-ombre-btn {
    background-image: linear-gradient(to right, #616161, rgb(99, 68, 42));
    border-radius: 24px;
    margin: 5%;
    border-color: rgb(208, 64, 9);
    border-width: 0px;
}
.earth-ombre-btn h1 {
    color: white;
}

/* ________________________ */

.ice {
    background-image: linear-gradient(#01e3f3, rgb(2, 54, 114));
    border-radius: 10%;
    margin: 5%;
}

.ice-ombre-btn {
    background-image: linear-gradient(to right, #01e3f3, rgb(2, 54, 114));
    border-radius: 24px;
    margin: 5%;
    border-color: rgb(208, 64, 9);
    border-width: 0px;
}
.ice-ombre-btn h1 {
    color: white;
}

/* ________________________ */

.lava {
    background-image: linear-gradient(#363636, rgb(230, 73, 0));
    border-radius: 10%;
    margin: 5%;
}

.lava-ombre-btn {
    background-image: linear-gradient(to right, #363636, rgb(230, 73, 0));
    border-radius: 24px;
    margin: 5%;
    border-color: rgb(208, 64, 9);
    border-width: 0px;
}
.lava-ombre-btn h1 {
    color: white;
}

/* ________________________ */

.dark {
    background-image: linear-gradient(#363636, rgb(170, 170, 170));
    border-radius: 10%;
    margin: 5%;
}

.dark-ombre-btn {
    background-image: linear-gradient(to right, #363636, rgb(170, 170, 170));
    border-radius: 24px;
    margin: 5%;
    border-color: rgb(208, 64, 9);
    border-width: 0px;
}
.dark-ombre-btn h1 {
    color: white;
}

/* ________________________ */

.gem {
    background-image: linear-gradient(#1be3fd, rgb(18, 212, 0));
    border-radius: 10%;
    margin: 5%;
}

.gem-ombre-btn {
    background-image: linear-gradient(to right, #1be3fd, rgb(18, 212, 0));
    border-radius: 24px;
    margin: 5%;
    border-color: rgb(208, 64, 9);
    border-width: 0px;
}
.gem-ombre-btn h1 {
    color: white;
}

/* ________________________ */


.fire {
    background-image: linear-gradient(#fcaa2f, rgb(208, 64, 9));
    border-radius: 10%;
    margin: 5%;
}

.fire-ombre-btn {
    background-image: linear-gradient(to right, #fcaa2f, rgb(208, 64, 9));
    border-radius: 24px;
    margin: 5%;
    border-color: rgb(208, 64, 9);
    border-width: 0px;
}
.fire-ombre-btn h1 {
    color: white;
}

/* ________________________ */

.celestial {
    background-image: linear-gradient(#b20c66, rgb(5, 88, 152));
    border-radius: 10%;
    margin: 5%;
}

.celestial-ombre-btn {
    background-image: linear-gradient(to right, #b20c66, rgb(5, 88, 152));
    border-radius: 24px;
    margin: 5%;
    border-color: rgb(5, 88, 152);
    border-width: 0px;
}
.celestial-ombre-btn h1 {
    color: white;
}

/* ________________________ */
/* change this cause there's no star */
.star {
    background-image: linear-gradient(#d62ffc, rgb(8, 78, 134));
    border-radius: 10%;
    margin: 5%;
}

.star-ombre-btn {
    background-image: linear-gradient(to right, #d62ffc, rgb(8, 78, 134));
    border-radius: 24px;
    margin: 5%;
    border-color:  rgb(8, 78, 134);
    border-width: 0px;
}
.star-ombre-btn h1 {
    color: white;
}

/* ________________________ */
.water {
    background-image: linear-gradient(rgb(91, 198, 255), #085fc4);
    border-radius: 10%;
    margin: 5%;
}

.water-ombre-btn {
    background-image: linear-gradient(rgb(91, 198, 255), #085fc4);
    border-radius: 24px;
    margin: 5%;
    border-color: #085fc4;
    border-width: 0px;
}
.water-ombre-btn h1 {
    color: white;
}

/* ------------- stat types as class names for dynamic card background --------------- */

.health {
    background-color: rgb(189, 0, 0);
    border-radius: 10%;
    margin: 5%;
}

.health-ombre-btn {
    background-color: rgb(189, 0, 0);
    border-radius: 24px;
    margin: 5%;
    border-color: rgb(189, 0, 0);
    border-width: 0px;
}
.health-ombre-btn h1 {
    color: white;
}

/* ________________________ */
.magic {
    background-color: #5B00BDFF;
    border-radius: 10%;
    margin: 5%;
}

.magic-ombre-btn {
    background-color: #5B00BDFF;
    border-radius: 24px;
    margin: 5%;
    border-color: #5B00BDFF;
    border-width: 0px;
}
.magic-ombre-btn h1 {
    color: white;
}

/* ________________________ */
.defense {
    background-color: #277708;
    border-radius: 10%;
    margin: 5%;
}

.defense-ombre-btn {
    background-color: #277708;
    border-radius: 24px;
    margin: 5%;
    border-color: #277708;
    border-width: 0px;
}
.defense-ombre-btn h1 {
    color: white;
}

/* ________________________ */
.strength {
    background-color: #bd5805;
    border-radius: 10%;
    margin: 5%;
}

.strength-ombre-btn {
    background-color: #bd5805;
    border-radius: 24px;
    margin: 5%;
    border-color: #bd5805;
    border-width: 0px;
}
.strength-ombre-btn h1 {
    color: white;
}

/* ________________________ */
.mojo {
    background-color: #c71394;
    border-radius: 10%;
    margin: 5%;
}

.mojo-ombre-btn {
    background-color: #c71394;
    border-radius: 24px;
    margin: 5%;
    border-color: #c71394;
    border-width: 0px;
}
.mojo-ombre-btn h1 {
    color: white;
}
/* ________________________ */
.stamina {
    background-color: #1fc713;
    border-radius: 10%;
    margin: 5%;
}

.stamina-ombre-btn {
    background-color: #1fc713;
    border-radius: 24px;
    margin: 5%;
    border-color: #1fc713;
    border-width: 0px;
}
.stamina-ombre-btn h1 {
    color: white;
}
/* ________________________ */
.statChance {
    background-color: #1337c7;
    border-radius: 10%;
    margin: 5%;
}

.statChance-ombre-btn {
    background-color: #1337c7;
    border-radius: 24px;
    margin: 5%;
    border-color: #1337c7;
    border-width: 0px;
}
.statChance-ombre-btn h1 {
    color: white;
}
/* ________________________ */
.hunger {
    background-color: #dea106;
    border-radius: 10%;
    margin: 5%;
}

.hunger-ombre-btn {
    background-color: #dea106;
    border-radius: 24px;
    margin: 5%;
    border-color: #dea106;
    border-width: 0px;
}
.hunger-ombre-btn h1 {
    color: white;
}
